<tr>
    <th><%= tag %></th>

    <% art="frueh" %>
    <td><% include ../partials/essenauswahl.ejs %></td>

    <% art="mittag" %>
    <td><% include ../partials/essenauswahl.ejs %></td>
    
    <% art="abend" %>
    <td><% include ../partials/essenauswahl.ejs %></td>
</tr>
